*{
			margin:0;
			padding:0;
		 }		 
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 0px; 
        }		
    	html, body{    	 
	    	width:100%;
			height:100%;
    		/* background-color: #EBF0F5; */
    		font-size: 14px;
    		line-height: 1.6em;   
    		background-image: url(about:blank); /* ±ØÐëµØ£¬·À¶¶¶¯ */  
    	}     
    
        #panel{
            position: absolute;              
            width: 100%;      
        }
        ul {
            list-style: none;
            padding: 0;
        }
        a:link,a:visited {			
			text-decoration:none;
		}

        .slideout-menu { 
        	position:fixed;
        	left: auto; 
           	margin-top: 60px;
           	min-height:100%;
         }
       
        .btn-hamburger { left: auto; right: 12px;}
        .dropdown-menu{
            position: static;
            background-color: #2B2E31;
        }
        
        
        .box-content input{
            display: block;
        }
        .forget-pwd{
            float: right;
        }
        .container-fluid{
            margin: 0 0;
            padding: 0 0;
        }
        .top-owl{
            background-color: #2387FF;
            height: 60px;
        }

        .login-div{
            position: relative;
            top:60px;
           
        }
        .login-div > div{
          
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            padding: 1rem 0;
            display: inline-block;
        }
      

        .login-tab{
            width: 50%;
            position: absolute;
            left: 0;
            border-bottom: 1px solid #cdcdcd;
            color: #505F6E;
        }
         .login-tab a{
         	display: block;    
            width: 100%;             
        }
        .signup-tab{
            width: 50%;
            position: absolute;
            right: 0;
            border-bottom: 1px solid #cdcdcd;
            color: #505F6E;
        }
         .signup-tab a{
         	display: block;    
            width: 100%;                   
        }

       
        .login-info{
            position: relative;
            top: 20px;
            background-color: #fff;
        }
        .login-info div{
            padding: 1rem 1.5rem 0 1rem;
        }
        .login-info input{
            height: 44px;
        }
        .remember label{
        	font-weight:400;
        	color: #505F6E;
        }
        .remember input{
            float: left;
        }
        .remember span{
            font-size: .8em;
        }
        label{
           position: relative;
        }
        label input{
            position: relative;
            top: -1rem;
        }
        .btn-login{
            width: 100%;
            background-color: #00AAF0;
            color: #fff;
        }
         .logo-owl{
            float: left;
            width: 196px;
            height: 62px;
            display: inline-block;
            /*background: url("css/imgs/nav_logo.png");*/
            /*background-color: #000000;*/
            padding-left: 10px;
        }
        .logo-owl img{
            width: 65%;
            margin-top: 15px;;
        }
        	.operate-btn div {
		    display: inline-block;
		}
		   .btn-search{
            margin-right:3px;
          }
         .btn-screen{
            margin-right:5px;

         }
        .operate-btn img{
            width: 65%;
            margin-top: 10px;;
        }
        .login-ul li{
	        display: inline-block;
	        text-align: center;	   
	        margin-top:1rem;   
        }
         .login-ul li:first-child{
         	border-right: 1px solid #fff;
        }
     
	     .newest-project-num{
	     	margin: 0 2rem;
		    background-color: #fff;
		    text-align: center;
		    padding: 8px;
		    margin-bottom: 10px;
		    font-size:13px;
		    border-radius:5px;
		    color:#505f6e;
	     }
	     .num-show{
	     	color:#ff6623 !important;;
	     	font-weight:500;
	     }
     
        .owl-project-list > div > ul >li{
            margin: 8px 0;         
            background-color: #fff;
            border-radius:5px;
            overflow:hidden;
        }
        .owl-project-list > div > ul >li:first-child{
            margin-top:0px;
        }
        #project-screen{
	        position: fixed;
	        z-index: 1111;
	        background-color: #fff;
	        margin-right: 2.1rem;
        }
        .layout{
        	display: table;  
    		table-layout: fixed;  
    		width: 100%; 
    		border-bottom:1px solid #DADCDE;
    	}    
    	   
        .layout li{
        	text-align:center;
        	display: table-cell;          
        	padding:1rem 0;
        	font-size:1rem;
        	background-color: #fff;
        	color:#8796a5;
        }
        .layout .type-selected{
        	background-color: #fff;
            border-bottom: 2px solid #00AAF0;
            color:#00AAF0;
        }
     
        .owl-tab{
        	margin-top:-1px;   
        	position: absolute;
		   	top: 60px;
		    z-index: 11111;     	
        }
        .owl-tab-fixed{
        	margin-top:-1px;   
        	position: fixed;
		   	top: 60px;
		    z-index: 11111;     	
        }
        
        .img-box>div:first-child{
        	padding:10px 0 0 0;
        }
        .img-box>div>a img{
            margin-left: 1rem;
            height:3.5rem;
            width:3.5rem;   
            float: left;
    		margin-top: 0.3rem;   
    		border: 1px solid #EFEFEF;     
        }
        .header-project{
            display: inline-block;
            padding-left:10px;
            margin-top: 4px;
            width:75%;
            color: #555F6E;
        }
        .header-project .info{          
            overflow:hidden;    
            padding-left:10px;          
        }
        .header-project .info span{          
            font-size: 14px;
            float:left;
            margin-left:0.1rem;   
                            
        }
         .projectAddr{          
            overflow:hidden;
        	white-space:nowrap;
        	text-overflow:ellipsis;    
        	max-width:30%;              
        }
         .header-project .info .projectFinanceName{          
            padding-right:5px; 
            border-right:1px solid #555F6E;      
        }
        .header-project .info .projectFinanceNum{
        	padding-left:5px; 
        	width: 10%;
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    width: 38%;
        }
         .header-project h3{
            font-size:1.2rem;
           font-weight: 400;
        }
        .header-project>div:first-child{        
        	overflow:hidden;      
        	padding-left:10px;  	
        }
        .header-project>div:first-child h3{
        	display:inline-block;
        	max-width: 60%;
        	overflow:hidden;
        	white-space:nowrap;
        	text-overflow:ellipsis;
        	float:left;
        	margin-top:5px;
        	margin-right: 10px;
        }
        .header-project>div:first-child span{
        	display:inline-block;
        	font-size:12px;
        	padding: 0px 6px;
        }
          .header-project>div:first-child>span:first-child{
        	margin-top:20px;
        }
        .header-project>div:first-child span:last-child{
        	float:right;
        	border:1px solid #FF7438;
        	color:#FF7438;
        	margin-top:5px;
        	pading:2px 3px;
        	border-radius:5px;
        }
               
        .intro{
            margin: 0rem 1rem;
            color: #8796A5;
            line-height: 20px;
            
            display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
            
        }
        .tag-project{
            margin: 1rem 1rem;           
            font-size: 12px;
        }
        .tag-project span{
         	padding:3px 5px;
         	margin:5px 5px;         	
         	color:#fff;
         	border-radius:5px;
         }
         .tag-project span:first-child{
         	margin-left:0px;
         }  
         .tag-0{
         	background-color:#415fA0;
         }  
         .tag-1{
         	background-color:#378CCD;
         } 
         .tag-2{
         	background-color:#00AAF0;
         }          
         .coordinate-img{
         	float:left;
         	width:20px;
         	height:30px; 
         }
         .coordinate-img img{
         	width:50%;     
         	margin-top: -2px;    
         }
      
         .logout-li {
		    margin-top: 1rem;
		    padding-left: 1rem;
		}
		.logout-li {
		    font-size: 1.2rem;
		    padding: 10px 0px;
		}      
         .user-avatar{
         	width:100%;
         	height:80px;
         	text-align: center;
         	padding-top:20px;
         }
         .user-avatar>img{
         	width:40px;
         	height:40px;   
         	border-radius: 20px;      
         }
         .num-inf{
         	display:inline-block;
         	margin-left:5px;         	    
         	border-radius: 20px; 
         	background-color:#FF6487;
         	padding-left: 6px;
         	padding-right: 6px;
         	font-size: 14px;
         }
         
         
          .owl_finance_list {
            padding: 0;
            max-width: none;
            min-width: inherit;           
        }

        .owl_finance_list ol {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .owl_finance_list ol>li {
         
        }

        .owl_finance_list li {
            position: relative;
        }

        .owl_finance_list ul>li:before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #C6D0D7;
            position: absolute;
            top: 0;
            left: .75rem;
        }

        .owl_finance_list .item_datetime header
        {
            /*padding-left: 4.5rem;*/
        }

        .owl_finance_list .item_datetime .date
        {          
            color: #fff;
            line-height: 15px;
            width: 1.7rem;
            text-align: center;
            padding: .25rem 0;
            position: absolute;
        }

        .owl_finance_list ol ul {
            margin: 0;
        }
        .owl_finance_list li {
            position: relative;
        }

        .owl_finance_list li h2 {
            font-weight: 400;
            margin: 0;
            line-height: 1.4rem;
            font-size: .5rem;
            position: relative;
        }
        .owl_finance_list li h2:before {
            content: "";
            position: absolute;
            width: .4rem;
            height: .4rem;          
            background-color: #b3c3ce;
            border-radius: 50%;
            left: -1.3rem;
            top: .5rem;
        }
        
         .owl_finance_list li h3:before {
			    font-weight: 400;
	            margin: 0;
	            line-height: 1.4rem;
	            font-size: .5rem;
	            position: relative;
			}
		.owl_finance_list li h3:before {
		    content: "";
		    position: absolute;
		    width: 0.8rem;
		    height: 0.8rem;
		    border: 1px solid #fff;
		    background-color: #c0d8ff;
		    border-radius: 50%;
		    left: 0.6rem;
		    top: -0.7rem;
		}
        
        .news-content  a {
            color: #4285f4;
        }
        
        .sameday-list li div:first-child{
        	background-color: #fff;
        	border-radius: 5px;  
        	padding-left:10px;      
        }       
        .finance-time span{
        	float:right;
        	background-color: #b3c3ce;
        	margin:5px 0;
        	border-radius: 5px;
        	font-size:14px;
        	color:#fff;
        	padding:2px 5px;
        }
       
        .owl_news_list > ol >li{
            margin: 8px 0;          
            background-color:#fff;
            border-radius:5px;
            list-style-type: none;
        }
        .owl_news_list .news-box, .owl_news_list .news-box div{
        	overflow:hidden;
        }
      
     
        .owl_news_list .news-box div .news-icon{     
        	float:left;       	 	        
		    margin: 10px;
		    width: 6rem;     
		    height:4.3rem;  	
		    margin-top: 3px;
		    margin-left: 13px;
        }
        .header-news{
        	margin-left:5rem;
        	margin-right: 10px;
			width:auto;	   
        }
        .header-news h3{
        	font-size:14px;   
        	font-weight:400;
        	line-height: 1.3rem;
        	margin-top:3px;    
			margin-bottom:10px;    	
			color:#555F6E;
			 display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    overflow: hidden;
			
        }
        .news-from{
        	font-size:12px;
        	color:#555F6E;
        }
         .owl_news_list .news-box div div:first-child img{
        	width:100%;
        	height:100%;           	   
        }     
        
        .tag-news{
            margin: 0rem 1rem 1rem;           
            font-size: 12px;
        }
        .tag-news span{
         	padding:2px 5px;
         	margin:5px 5px;         
         	color:#fff;
         	border-radius:5px;
         }
         .tag-news span:first-child{
         	margin-left:0px;
         } 
         .tag-keyword{
         	margin: 1rem 1rem;
		    font-size: 12px;
		    display: inline-block;
         }
          .tag-keyword span{
         	padding:5px 5px;
         	margin:5px 5px;
         	background-color:#425F9F;
         	color:#fff;
         	border-radius:5px;
         }
         .tag-keyword span:first-child{
         	margin-left:0px;
         } 
         .word{
         	width:26%;
         	display:inline-block;
         	float:left;
         	margin-left:1rem;
         	margin-top:2px;;
         }
         .screen-word{
         	width:65%;
         	display:inline-block;
         	float:left;
         }
         .screen-word div{
         	float:left;
         	color:#fff;
         	background-color:#425F9F;
         	padding:2px 5px;
         	margin:2px 5px;
         	border-radius:5px;
         	font-size:12px;
         }
         
         #panel-layer{
         	display:none;
            position: fixed;
            background-color: #B3B3B3;
            height:100%;
            width: 100%;              
            z-index: 2;
    		opacity: 0.5;
         }
         
               
         .validate-tip{		
			margin: 1rem 1.5rem 0 1rem;
	    	border-radius: 5px;    	
			}
		.validate-tip>span{
			font-size:14px;
			color:#505F6E;
		}
	     .js-slideout-toggle .selectedImg{
		     transform:rotate(90deg);
			-ms-transform:rotate(90deg); /* Internet Explorer */
			-moz-transform:rotate(90deg); /* Firefox */
			-webkit-transform:rotate(90deg); /* Safari ï¿½ï¿½ Chrome */
			-o-transform:rotate(90deg); /* Opera */
	     }    
	     
	     .btn-see-area{
	     	font-size:12px;
	     	padding:0px 3px;
	     	border-radius:5px;
	     	color: #555F6E;
	     	border: 1px solid #555F6E;
	     } 
	    #search-project{
			margin-top:8px;
			height: 30px;
			border: 1px solid #EBF0F5;
			width:65%;
		}
      
      .modal-open .modal{
      	   background-color: #EBF0F5;
      	   position:absolute;
      }
      .modal-content {
		    position: relative;
		    background-color: #fff;
		    -webkit-background-clip: padding-box;
		    background-clip: padding-box;
		    border: none;
		    border: none;
		    border-radius: 6px;
		    outline: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}
		
		
	
      
		@media (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 2){ 
		  .owl_news_list .news-box div .news-icon{            	 	        			  
			    width: 5rem;     			   
	        }
	      
	       .btn-search{
	            margin-right:3px;
	          }
	       .btn-screen{
	            margin-right:5px;
	
	         }
	         #search-project{
	         	width: 59%;
	         }
	        
			.intro{
	        	font-size:14px;
	        	line-height: 20px;
	        }           

            .header-nav li ul li a{
                display: block;
                padding: 0px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                white-space: nowrap;               
            }         
            
             .owl_finance_list {
                margin-top: 1rem;
            }
            .owl_finance_list .item_datetime header {
                padding-left: 4.5rem;
            }
            .owl_finance_list ul>li:before {
                width: 4px;
                left: 0.9rem;
            }
            .owl_finance_list li h2:before {
                width: .5rem;
                height: .5rem;
                left: -2.85rem;
                top: .3rem;
            }
            .owl_finance_list .item_datetime .date
            {
             	position: absolute;
             	left: 0.9rem;
                width: 6.5rem;
                height: 3.5rem;
                padding: .5rem 0;               
            }
            
            .owl_finance_list .item_datetime .date:before
            {
                   content: "";
				    width: 4px;
				    height: 100%;
				    background-color: #C6D0D7;
				    position: absolute;
				    top: 0;
				    left: 0rem;              
            }
            
            .owl_finance_list .item_datetime .date img
            {
                width: 100%;
                display:inline-block;  
                position: relative;
    			z-index: 111;   
    			left: -1px;         
            }
         
            .owl_finance_list .item_datetime .date span
            {
                display: inline-block;
			    width: 100%;
			    position: absolute;
			    left: 0.9rem;
			    top: 0.9rem;
			    z-index: 112; 
			    font-size:14px;
            }
            .owl_finance_list ul>li {
               cursor: pointer;
			    padding: 0.3rem 1rem 0rem 3rem;
			    color: #505F6E;
			    overflow: hidden;
               
            }
            .owl_finance_list li h2 {
            	padding:5px 5px;           
                line-height: 1.3rem;
                font-size:14px;
            }
            .item_datetime header{
                padding-bottom: 3.5rem;
            }     
            .dialog-alert{
            	width:100%;
            	margin:0;
            }    
             .login-selected{
	            background-color: #F4FCFF;
	            border-bottom: 2px solid #00AAF0;     
	            color:#00aafa;     
        	}
        	.logout-div{
        		height:100px;
        	}
    
		
		}

        @media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){/* ¼æÈÝiphone6 */
	        .intro{
	        	font-size:14px;
	        	line-height: 20px;
	        }           

            .header-nav li ul li a{
                display: block;
                padding: 0px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                white-space: nowrap;               
            }
            
             .owl_finance_list {
                margin-top: 1rem;
            }
            .owl_finance_list .item_datetime header {
                padding-left: 4.5rem;
            }
            .owl_finance_list ul>li:before {
                width: 4px;
                left: 0.9rem;
            }
            .owl_finance_list li h2:before {
                width: .5rem;
                height: .5rem;
                left: -2.85rem;
                top: .3rem;
            }
            .owl_finance_list .item_datetime .date
            {
             	position: absolute;
             	left: 0.9rem;
                width: 6.5rem;
                height: 3.5rem;
                padding: .5rem 0;               
            }
            
            .owl_finance_list .item_datetime .date:before
            {
                   content: "";
				    width: 4px;
				    height: 100%;
				    background-color: #C6D0D7;
				    position: absolute;
				    top: 0;
				    left: 0rem;              
            }
            
            .owl_finance_list .item_datetime .date img
            {
                width: 100%;
                display:inline-block;  
                position: relative;
    			z-index: 111;   
    			left: -1px;         
            }
         
            .owl_finance_list .item_datetime .date span
            {
                display: inline-block;
			    width: 100%;
			    position: absolute;
			    left: 0.9rem;
			    top: 0.9rem;
			    z-index: 112; 
			    font-size:14px;
            }
            .owl_finance_list ul>li {
               cursor: pointer;
			    padding: 0.3rem 1rem 0rem 3rem;
			    color: #505F6E;
			    overflow: hidden;
               
            }
            .owl_finance_list li h2 {
            	padding:5px 5px;           
                line-height: 1.3rem;
                font-size:14px;
            }
            .item_datetime header{
                padding-bottom: 3.5rem;
            }     
            .dialog-alert{
            	width:100%;
            	margin:0;
            }    
             .login-selected{
	            background-color: #F4FCFF;
	            border-bottom: 2px solid #00AAF0;     
	            color:#00aafa;     
        	}
        	 .header-news{
	        	width: 68%;		   
	        }
        }
        
        @media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    		.owl_finance_list li h2 {
            	padding:5px 5px;              
                line-height: 1.3rem;
                font-size:15px;
            }
             .intro{
	        	font-size:15px;
	        	line-height: 20px;
	        }
	         .dialog-alert{
            	width:100%;
            	margin:0;
            }    
             .header-news{
	        	width: 72%;		   
	        }
		}
		@media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3){
		 	.header-news{
	        	width: 72%;		   
	        }
		 }
		